2\. feladat

In [1]:
SELECT SZALLAS_NEV,COUNT(*)
FROM szallashely
JOIN szallashely szh ON Szoba.SZALLAS_FK=szallashely.SZALLAS_ID
JOIN Szoba sz ON Foglalas.SZOBA_FK=Szoba.SZOBA_ID
GROUP by SZALLAS_NEV;

: Msg 4104, Level 16, State 1, Line 3
The multi-part identifier "Szoba.SZALLAS_FK" could not be bound.

: Msg 4104, Level 16, State 1, Line 4
The multi-part identifier "Foglalas.SZOBA_FK" could not be bound.

: Msg 4104, Level 16, State 1, Line 4
The multi-part identifier "Szoba.SZOBA_ID" could not be bound.

: Msg 209, Level 16, State 1, Line 5
Ambiguous column name 'SZALLAS_NEV'.

: Msg 209, Level 16, State 1, Line 1
Ambiguous column name 'SZALLAS_NEV'.